certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
iniconfig==2.0.0
lxml==4.9.3
packaging==23.1
pluggy==1.2.0
pypdf==3.17.0
pytest==7.4.0
python-docx==1.0.1
pywin32==306
requests==2.31.0
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.4
